    .memo {
    display: none;
    }

/** 시스템 관련 **/

    :root {
    font-size: 13px;
    }

    body {
    font-family: monospace;
    }

    .container,
    .container-main,
    .container-footer {
    width: 100%;
    }

    .container-main {

    }

    .container-footer {

    }

    .footer-item {

    }

    .font-r-rem {
    font-size: 1rem;
    }

    .font-s-rem {
    font-size: 0.9rem;
    }


/** section padding 관련 **/
    .li-release-list {

    }



/** 헤더 관련 **/
    .header-main {
    display: flex;
    align-items: center;
    height: 22px;
    padding: none;
    background-color: none;
    color: blue;
    }

    .header-label {
        position: relative;
        bottom: 1px;
    }

    .header-arrow {
        max-height: 15px;
        padding-right: 6px;  
    }

    .go-back {
        cursor: pointer;
    }

/** release 섹션 관련 **/

    ul,
    li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    ol {
        padding: 0;
        margin: 0;
        list-style-type: decimal;
    }

    ol li {
        list-style-type: decimal;
    }

    .pl-23 {
        padding-left: 23px;
    }

    .pt-30 {
        padding-top: 30px;
    }

    .pb-30 {
        padding-bottom: 30px;
    }

    .li-sub-info {
    padding-top: 4px;
    padding-bottom: 12px;
    }

    .ol-tracklist {

    }

    .ol-tracklist > li {
        padding-right: 4px;
    }

/** 이미지 (후버) 관련 **/
    .cover-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    vertical-align: bottom;
    }

    .thumbnail {
    width: 18px;
    height: auto;
    cursor: pointer;
    }

    .original-image {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border: none;
    box-shadow: none;
    z-index: 10;
    top: 100%;
    transform: translate(18px, 0);
    }

    .cover-container:hover .original-image {
    display: block;
    }

    /* 모바일 환경에서 원본 이미지 숨김 (혹시 JS가 작동 안 하더라도) */
    @media (max-width: 480px) {
    .original-image {
        width: 200px !important;
    }
    }

    /* 클릭 시 원본 이미지 표시 */
    .cover-container.active .original-image {
    display: block;
    }

/** 보드 갤러리 이미지 후버 관련 **/
    .profile-container {
        display: flex;
        flex-direction: column;
        max-width: 100%
    }

    #profile-img-viewer {
        max-height: 300px;
        margin-bottom: 6px;
        max-width: 100%;
    }

    #profile-img-viewer img {
        display: block;
        max-width: 100%;
        max-height: 300px;
    }

    .profile-thumbnail-container {
        display: flex;
        max-width: 100%;
    }

    .profile-thumbnail {
        max-width: 100%;
        max-height: 21px;
        margin-right: 4px;
    }

    .profile-thumbnail img {
        display: block;
        max-width: 100%;
        max-height: 21px;
    }

    .profile-thumbnail:last-child {
        margin-right: 0;
    }

/** 보드 관련 **/
    .artist-info-container {

    }

/* data-href 관련*/

.data-href,
.data-href-outlink {
    cursor: pointer;
}

/** 반응형 관련 **/

    @media (min-width: 480px) {
    .container {
        max-width: 480px;
    }
    }

    @media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    }

    @media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    }

    @media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    }

    @media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
    }

    @media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
    }
