    .memo {
    display: none;
    }

/** 시스템 관련 **/

    :root {
    font-size: 13px;
    }

    body {
    font-family: monospace;
    }

    .container,
    .container-main,
    .container-footer {
    width: 100%;
    }

    .container-main {
    padding-top: 12px;
    }

    .container-footer {
    padding-top: 30px;
    }

    .footer-item {
        padding-top: 12px;
    }

    .font-r-rem {
    font-size: 1rem;
    }

    .font-s-rem {
    font-size: 0.9rem;
    }

/** 헤더 관련 **/
    .header-main {
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 세로 방향 중앙 정렬 (교차 축 정렬) */
    height: 22px; /* 기본 높이 설정 (원하는 높이로 변경 가능) */
    padding: none;
    background-color: none;
    color: blue;
    }

    .header-lable {
        position: relative;
        bottom: 1px;
    }

    .header-arrow {
        max-height: 15px;
        padding-right: 6px;  
    }

    .go-back {
        cursor: pointer; /* 클릭 가능함을 나타내는 커서 */
    }

/** release 섹션 관련 **/

    ul,
    li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    .li-main-info {
        padding-top: 12px;
    }

    .li-sub-info {
        padding-top: 2px;
    }

    .li-sub-padding {
        padding-left: 23px;
    }
    
/** 이미지 (후버) 관련 **/
    .image-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    vertical-align: bottom;
    }

    .thumbnail {
    width: 18px;
    height: auto;
    cursor: pointer;
    }

    .original-image {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border: none;
    box-shadow: none;
    z-index: 10;
    top: 100%;
    transform: translate(18px, 0);
    }

    .image-container:hover .original-image {
    display: block;
    }

    /* 모바일 환경에서 원본 이미지 숨김 (혹시 JS가 작동 안 하더라도) */
    @media (max-width: 480px) {
    .original-image {
        width: 200px !important;
    }
    }

    /* 클릭 시 원본 이미지 표시 */
    .image-container.active .original-image {
    display: block;
    }

/** 보드 갤러리 이미지 후버 관련 **/
    .profile-container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        max-width: 100%
    }

    #profile-img-viewer {
        max-height: 300px;
        margin-bottom: 6px;
        max-width: 100%;
    }

    #profile-img-viewer img {
        display: block;
        max-width: 100%;
        max-height: 300px;
    }

    .profile-thumbnail-container {
        display: flex;
        max-width: 100%;
    }

    .profile-thumbnail {
        max-width: 100%;
        max-height: 21px;
        margin-right: 4px;
    }

    .profile-thumbnail img {
        display: block;
        max-width: 100%;
        max-height: 21px;
    }

    .profile-thumbnail:last-child {
        margin-right: 0;
    }

/** 보드 관련 **/
    .artist-info-container {
        padding-top: 2px;
    }

/* data-href 관련*/

.data-href {
    cursor: pointer;
}

/** 반응형 관련 **/

    @media (min-width: 480px) {
    .container {
        max-width: 480px;
    }
    }

    @media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    }

    @media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    }

    @media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    }

    @media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
    }

    @media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
    }
